.wrap
    .picture
        img(src="images/contentPic.png", alt="")
    nav.menu
        ul
            a(href="#")
                li
                    img(src="images/peoples.png", alt="")
                    .text
                        |Наши специалисты
            a(href="#")
                li
                    img(src="images/items.png", alt="")
                    .text
                        |Автозапчасти
            a(href="#")
                li
                    img(src="images/actions.png", alt="")
                    .text
                        |Проводимые акции
            a(href="#")
                li
                    img(src="images/answers.png", alt="")
                    .text
                        |Вопрос-Ответ